@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: #000;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

#__next,
main {
  min-height: 100vh;
}

main {
  @apply flex justify-center items-center font-halant text-white w-full max-w-md mx-auto;

  & > div,
  & > section {
    @apply w-full;
  }
}

.global-wrapper {
  @apply relative rounded-[50px] w-full max-w-[375px] h-full md:h-[85vh] md:max-h-[750px] mx-auto overflow-hidden;
  @apply text-white;
  @apply border border-red-200;
}

.content-wrapper {
  @apply relative w-full h-full overflow-y-auto;
}

.jemina-title {
  @apply font-jemina text-lg;
  line-height: 1.2;
}

.btn-glass {
  @apply mx-auto rounded-[4px] py-2.5 px-10 overflow-hidden text-xs;
  background: linear-gradient(
      112.68deg,
      rgba(251, 251, 251, 0.41) -38.88%,
      #f1f6ef 50.66%,
      rgba(251, 251, 251, 0) 162.81%
    ),
    linear-gradient(180deg, #c0c0c0 0%, #636363 158.33%);
  box-shadow: inset 0.5px 0.5px 0px rgba(0, 0, 0, 0.5),
    inset -1px -0.5px 0px rgba(255, 255, 255, 0.5);
  transition: 0.35s ease-in-out;
}

.btn-white {
  @apply font-halant text-sm flex p-2.5 text-center rounded-md text-black w-full justify-center;
  background: linear-gradient(
      112.21deg,
      rgba(251, 251, 251, 0.41) -9.15%,
      #f1f6ef 48.87%,
      rgba(251, 251, 251, 0) 119.29%
    ),
    linear-gradient(180deg, #c0c0c0 0%, #636363 158.33%);
  transition: 0.1s ease-in-out;
}

.btn-white:hover,
.btn-white:focus {
  background: linear-gradient(
      112.21deg,
      rgba(251, 251, 251, 0.41) -9.15%,
      #f1f6ef 48.87%,
      rgba(251, 251, 251, 0) 119.29%
    ),
    linear-gradient(180deg, #c0c0c0 0%, #636363 158.33%);
}

.btn-white:active {
  transform: scale(0.97);
}

.input {
  @apply block w-full py-2.5 px-5 text-sm mb-4 outline-none text-left;
  @apply border-2 border-white rounded-md;
  @apply bg-black text-white;
}

.input::placeholder,
.input .input__placeholder {
  @apply text-white opacity-75;
}

.input .input__placeholder {
  @apply flex-1 w-auto;
}

.select {
  @extend .input;
  @apply p-0;

  .select__cta {
    @apply w-full text-left flex items-center justify-between py-2.5 px-5;
  }

  .select__arrow {
    @apply relative transition-all duration-200;
  }

  .select__options {
    @apply transition-all duration-200 h-0 overflow-hidden;
  }

  .select__option {
    @apply flex items-center justify-between w-full text-left h-10 px-5;

    & > div:nth-child(2) {
      @apply relative h-2 w-2;

      span {
        @apply absolute left-0 top-0 w-2 h-2 bg-white rounded-full;
      }

      span:nth-child(2) {
        @apply absolute left-0 top-0 w-2 h-2 border border-white rounded-full animate-ping;
      }
    }
  }

  &.select-open {
    @apply relative;
    padding-bottom: 0;

    .select__arrow {
      @apply rotate-180;
    }

    .select__options {
      @apply h-[90px] pb-2;
    }
  }
}

.textarea {
  @extend .input;
  @apply h-[44px] max-h-[44px] transition-all duration-200;
  @apply resize-y;

  &:focus {
    @apply max-h-32 h-32;
  }

  &.textarea__heighted {
    @apply max-h-32 h-32;
  }
}
