@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: #000;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

#__next,
main {
  min-height: 100vh;
}

main {
  @apply flex items-center;
}

.global-wrapper {
  @apply relative rounded-[50px] w-full max-w-[375px] h-full md:h-[85vh] md:max-h-[750px] mx-auto overflow-hidden;
  @apply text-white;
  @apply border border-red-200;
}

.content-wrapper {
  @apply relative w-full h-full overflow-y-auto;
}

.envelope-bride-name {
  @apply font-jemina text-[64px] max-w-xs mx-auto;
  line-height: 1;
  background: linear-gradient(
      112.92deg,
      rgba(251, 251, 251, 0.41) 10.09%,
      #f1f6ef 45.75%,
      rgba(251, 251, 251, 0) 141.84%
    ),
    linear-gradient(180deg, #c8ccc7 0%, #626561 158.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.envelope-bride-name:nth-child(2) {
  transform: translate(-15px, -5%);
}

.envelope-bride-join {
  @apply relative font-lavishy text-[66px];

  transform: translate(0, -30%);
  line-height: 1.5;
  display: inline-block;

  background: linear-gradient(
      112.92deg,
      rgba(251, 251, 251, 0.41) 10.09%,
      #f1f6ef 45.75%,
      rgba(251, 251, 251, 0) 141.84%
    ),
    linear-gradient(180deg, #c8ccc7 0%, #626561 158.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.envelope-bottom {
  @apply relative pb-5;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 73.96%, #000000 100%);
}

.envelope-invited {
  @apply relative p-1 text-center bg-black font-belle text-sm mb-5;
}

.envelope-cta-group {
  @apply relative px-6;
}

.btn-invitation {
  @apply font-belle text-sm flex p-2.5 text-center rounded-md text-black w-full justify-center;
  background: linear-gradient(
      112.21deg,
      rgba(251, 251, 251, 0.41) -9.15%,
      #f1f6ef 48.87%,
      rgba(251, 251, 251, 0) 119.29%
    ),
    linear-gradient(180deg, #c0c0c0 0%, #636363 158.33%);
  transition: 0.1s ease-in-out;
}

.btn-invitation:hover,
.btn-invitation:focus {
  background: linear-gradient(
      112.21deg,
      rgba(251, 251, 251, 0.41) -9.15%,
      #f1f6ef 48.87%,
      rgba(251, 251, 251, 0) 119.29%
    ),
    linear-gradient(180deg, #c0c0c0 0%, #636363 158.33%);
}

.btn-invitation:active {
  transform: scale(0.97);
}
