@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: #000;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

#__next,
main {
  min-height: 100vh;
}

main {
  @apply flex items-center;
}

.global-wrapper {
  @apply relative rounded-[50px] w-full max-w-[375px] h-full md:h-[85vh] md:max-h-[750px] mx-auto overflow-hidden;
  @apply text-white;
  @apply border border-red-200;
}

.content-wrapper {
  @apply relative w-full h-full overflow-y-auto;
}
