@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: #000;
  min-height: 100vh;
  font-family: var(--font-halant);
}

* {
  box-sizing: border-box;
}

#__next,
main {
  min-height: 100vh;
}

main {
  @apply flex items-center;
}

.global-wrapper {
  @apply relative rounded-[50px] w-full max-w-[375px] h-full md:h-[85vh] md:max-h-[750px] mx-auto overflow-hidden;
  @apply text-white;
  @apply border border-red-200;
}

.content-wrapper {
  @apply relative w-full h-full overflow-y-auto;
}

.jemina-title {
  @apply font-jemina text-lg;
  line-height: 1.2;
}

.btn-glass {
  @apply mx-auto rounded-[4px] py-2.5 px-10 overflow-hidden text-xs;
  background: linear-gradient(
      112.68deg,
      rgba(251, 251, 251, 0.41) -38.88%,
      #f1f6ef 50.66%,
      rgba(251, 251, 251, 0) 162.81%
    ),
    linear-gradient(180deg, #c0c0c0 0%, #636363 158.33%);
  box-shadow: inset 0.5px 0.5px 0px rgba(0, 0, 0, 0.5),
    inset -1px -0.5px 0px rgba(255, 255, 255, 0.5);
  transition: 0.35s ease-in-out;
}
