.hero {
  @apply relative min-h-full;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 91.04%),
    url("/hero-cover.jpg");
  background-position: top center;
  background-size: contain;
}

.bambooIcon {
  @apply absolute left-[50%] top-[70px];
  transform: translate(-50%, 0);
}

.bottom {
  @apply absolute bottom-0 left-0 right-0 w-full text-center;
}

.brideName {
  @apply mt-6 mb-8 font-jemina text-[46px] flex justify-center items-center;

  .join {
    @apply text-[64px] font-lavishy mx-4;
  }
}

.bar {
  @apply relative;

  .flower {
    @apply w-6 h-6 bg-black;
    background: url("/flower.png");
    background-position: center center;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::before,
  &::after {
    content: "";
    height: 1px;
    background: #fff;
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}
